<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oliver Catling | Java & Python Developer</title>
    {% load staticfiles %}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/orkney" type="text/css"/>
    <link rel="stylesheet" media="screen" href="{% static 'portfolio/style/main.css' %}" type="text/css"/>

</head>
<body>
    <header>
        <div class="wrapper">
            <div id="logo">
                <h1>Oliver Catling</h1>
            </div>
            <nav>

            </nav>
        </div>
    </header>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>