<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oliver Catling | Java & Python Developer</title>
    {% load staticfiles %}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/orkney" type="text/css"/>
    <link rel="stylesheet" media="screen" href="{% static 'portfolio/style/main.css' %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'portfolio/js/script.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div id="logo">
                <h1>Oliver Catling</h1>
            </div>
        </header>
        <div class="main wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>