{% for page in pages %}
    {% if page.isInvert %}
        <div class="page invert">
    {% else %}
        <div class="page">
    {% endif %}
            {% if page.isTitleVisable %}
                <div class="title">
                    <h2>{{ page.title }}</h2>
                </div>
            {% endif %}
            <div class="headline">
            {{ page.tagline|linebreaks }}
            </div>
            <div class="body">
            <p> {{ page.description|linebreaks }} </p>
            </div>
        </div>
{% endfor %}